.* {
    box-sizing: border-box;
}

.container {
    margin: 32px;
}

.rect_linear {
    margin-bottom: 16px;
    width: 100px;
    height: 100px;
    background-color: coral;
    text-align: center;
    line-height: 100px;
    opacity: 0.5;
}

.rect_ease {
    margin-bottom: 16px;
    width: 100px;
    height: 100px;
    background-color: coral;
    text-align: center;
    line-height: 100px;
    opacity: 0.5;
}

.rect_ease-in {
    margin-bottom: 16px;
    width: 100px;
    height: 100px;
    background-color: coral;
    text-align: center;
    line-height: 100px;
    opacity: 0.5;
}

.rect_ease-out {
    margin-bottom: 16px;
    width: 100px;
    height: 100px;
    background-color: coral;
    text-align: center;
    line-height: 100px;
    opacity: 0.5;
}

.rect_ease-in-out {
    margin-bottom: 16px;
    width: 100px;
    height: 100px;
    background-color: coral;
    text-align: center;
    line-height: 100px;
    opacity: 0.5;
}

.rect_linear:hover {
    width: 100%;
    opacity: 1;
    transition: width 2s, opacity 0.5s;
    transition-timing-function: linear;
}

.rect_ease:hover {
    width: 100%;
    opacity: 1;
    transition: width 2s, opacity 0.5s;
    transition-timing-function: ease;
}

.rect_ease-in:hover {
    width: 100%;
    opacity: 1;
    transition: width 2s, opacity 0.5s;
    transition-timing-function: ease-in;
}

.rect_ease-out:hover {
    width: 100%;
    opacity: 1;
    transition: width 2s, opacity 0.5s;
    transition-timing-function: ease-out;
}

.rect_ease-in-out:hover {
    width: 100%;
    opacity: 1;
    transition: width 2s, opacity 0.5s;
    transition-timing-function: ease-in-out;
}