.header {
    background-color: #006400;
}

.menu {
    height: 3em;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    list-style-type: none;
    color: #fff;
    cursor: pointer;
    &__item {
        height: 3em;
        padding-left: 8px;
        padding-right: 8px;
        line-height: 3em;
        &:hover {
            background-color: #9acd32;
        }
    }
    .menu__item_active {
        color: yellow;
        &:hover .submenu {
            display: block;
        }
    }
    .menu__item-text {
        text-align: center;
    }
    .submenu {
        display: none;
        background-color: #ff7f50;
        padding: 0;
        margin: 0;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        color: #fff;
        list-style-type: none;
        min-width: 120px;
        z-index: 1;
        &__item {
            padding-left: 8px;
            padding-right: 8px;
            &:hover {
                color: black;
            }
        }
    }
}