.gallery {
    display: flex;
}

.image {
    border: 1px dotted gray;
    margin: 16px;
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

* {
    box-sizing: border-box;
}