.header .navigation {
    height: 40px;
    background-color: darkturquoise;
    line-height: 100%;
}

.nav-list {
    margin-left: 16px;
    color: white;
    margin-top: 0px;
}

.nav-item {
    display: inline-block;
    line-height: 40px;
    height: 40px;
}